{% extends "base.html" %}
{% load static %}

{% block title_block %}
About us - {{ setting.title }}
{% endblock title_block %}
{% block description_block %}
{{ setting.description }}
{% endblock description_block %}
{% block keywords_block %}
{{ setting.keywords }}
{% endblock keywords_block %}


{% block category_block %}
{% include 'home/category_menu.html' %}
{% endblock category_block %}
{% block header_block %}
{% include "home/header.html" %}
{% endblock header_block %}
{% block content %}
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
  <!-- Page Title-->
  <div class="page-title">
    <div class="container">
      <div class="column">
        <h1>About Us</h1>
      </div>
      <div class="column">
        <ul class="breadcrumbs">
          <li><a href="{% url 'Home:IndexView' %}">Home</a>
          </li>
          <li class="separator">&nbsp;</li>
          <li>About Us</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container padding-bottom-2x mb-2">
    <div class="row align-items-center padding-bottom-2x">
      <div class="col-md-5"><img class="d-block w-270 m-auto" src="{% static '' %}img/features/01.jpg" alt="Online Shopping"></div>
      <div class="col-md-7 text-md-left text-center">
        <div class="mt-30 hidden-md-up"></div>
        <h2>Search, Select, Buy Online.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a
          quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor
          consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat
          lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean
          dolor dolor, tristique nec placerat nec.</p><a class="text-medium text-decoration-none"
          href="{% url 'Product:ShopView' %}">View Products&nbsp;<i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center padding-top-2x padding-bottom-2x">
      <div class="col-md-5 order-md-2"><img class="d-block w-270 m-auto" src="{% static '' %}img/features/02.jpg" alt="Delivery"></div>
      <div class="col-md-7 order-md-1 text-md-left text-center">
        <div class="mt-30 hidden-md-up"></div>
        <h2>Fast Delivery Worldwide.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a
          quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor
          consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat
          lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean
          dolor dolor, tristique nec placerat nec.</p>
      </div>
    </div>
    <hr>
    <div class="text-center padding-top-3x mb-30">
      <h2>Our Core Team</h2>
      <p class="text-muted">People behind your awesome shopping experience.</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-30 text-center"><img
          class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static '' %}img/team/01.jpg" alt="Team">
        <h6>Grace Wright</h6>
        <p class="text-muted mb-2">Founder, CEO</p>
        <div class="social-bar"><a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip"
            data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a
            class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top"
            title="Twitter"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-google-plus"
            href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-30 text-center"><img
          class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static '' %}img/team/02.jpg" alt="Team">
        <h6>Taylor Jackson</h6>
        <p class="text-muted mb-2">Financial Director</p>
        <div class="social-bar"><a class="social-button shape-circle sb-skype" href="#" data-toggle="tooltip"
            data-placement="top" title="Skype"><i class="socicon-skype"></i></a><a
            class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top"
            title="Facebook"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-paypal"
            href="#" data-toggle="tooltip" data-placement="top" title="PayPal"><i class="socicon-paypal"></i></a></div>
      </div>
      <div class="col-md-3 col-sm-6 mb-30 text-center"><img
          class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static '' %}img/team/03.jpg" alt="Team">
        <h6>Quinton Cross</h6>
        <p class="text-muted mb-2">Marketing Director</p>
        <div class="social-bar"><a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip"
            data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a><a
            class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top"
            title="Google +"><i class="socicon-googleplus"></i></a><a class="social-button shape-circle sb-email"
            href="#" data-toggle="tooltip" data-placement="top" title="Email"><i class="socicon-mail"></i></a></div>
      </div>
      <div class="col-md-3 col-sm-6 mb-30 text-center"><img
          class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-2" src="{% static '' %}img/team/04.jpg" alt="Team">
        <h6>Liana Mullen</h6>
        <p class="text-muted mb-2">Lead Designer</p>
        <div class="social-bar"><a class="social-button shape-circle sb-behance" href="#" data-toggle="tooltip"
            data-placement="top" title="Behance"><i class="socicon-behance"></i></a><a
            class="social-button shape-circle sb-dribbble" href="#" data-toggle="tooltip" data-placement="top"
            title="Dribbble"><i class="socicon-dribbble"></i></a><a class="social-button shape-circle sb-instagram"
            href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  {% block footer_block %}
  {% include "home/footer.html" %}
  {% endblock footer_block %}
</div>
{% endblock content %}