{% load static %}
{% load custom_tags %}
{% load mptt_tags %}
<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar navbar-sticky navbar-dark bg-dark">
    <!-- Search-->
    <form action="{% url 'Home:SearchView' %}" class="site-search" method="GET">
        <input type="text" id="query" name="query" placeholder="Type to search...">
        <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i
                    class="icon-cross"></i></span></div>
    </form>
    <script>

        $(function () {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }

    </script>
    <div class="site-branding">
        <div class="inner">
            <!-- Off-Canvas Toggle (#shop-categories)<a class="offcanvas-toggle cats-toggle" href="#shop-categories"
                data-toggle="offcanvas"><i class="fas fa-bars fa-5x"></i></a> -->
            <!-- Off-Canvas Toggle (#mobile-menu)--><a class="offcanvas-toggle menu-toggle" href="#mobile-menu"
                data-toggle="offcanvas"></a>
            <!-- Site Logo-->
            <a class="navbar-brand" href="{% url 'Home:IndexView' %}"><img src="{% static 'ShajBari_logo.png' %}" class="rounded-circle" style="margin-left: 40px; margin-top: 10px;" width="150" alt="ShajBari"
                class="d-inline-block align-middle mr-2"></a>
        </div>
    </div>
    <!-- Main Navigation-->
    <nav class="site-menu">
        <ul>
            <li class="has-megamenu active">
                <a href="{% url 'Home:IndexView' %}"><span>Home</span></a>
            </li>
            <li><a href=""><span>Shop Category</span></a>
                <ul class="sub-menu">
                    <span class="mega-menu-title">Top Categories</span>
                    <hr class="margin-bottom-1x">
                    {% CategoryList as  category %}
                    {% recursetree category %}
                    <li {% if not node.is_leaf_node %} class="has-children" {% endif %}>
                        <a href="{% url 'Home:CategoryView' id=node.id slug=node.slug %}">{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                        <ul class="sub-menu">
                            <span class="mega-menu-title">Sub Categories</span>
                            <hr class="margin-bottom-1x">
                            <li>
                                <a href="{% url 'Home:CategoryView' id=node.id slug=node.slug %}">{{ children|safe }}</a>
                            </li>
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>
            </li>
            <li><a href="{% url 'Product:ShopView' %}"><span>Shop</span></a>
                <ul class="sub-menu">
                    <li><a href="{% url 'Product:ShopView' %}"><span>Shop</span></a>
                    </li>
                    <li><a href="{% url 'Order:WishlistListView' %}">Wishlist</a></li>
                    <li><a href="{% url 'Order:CartListView' %}">Cart</a></li>
                </ul>
            </li>
            {% if user.id is None %}
            <li><a href="{% url 'App_User:LoginView' %}"><span>Account</span></a>
                <ul class="sub-menu">
                    <li><a href="{% url 'App_User:LoginView' %}">Login</a></li>
                    <li><a href="{% url 'App_User:SignUpView' %}">Register</a></li>
                </ul>
            </li>
            {% endif %}
            <li><a href="#"><span>Other</span></a>
                <ul class="sub-menu">
                    <li><a href="{% url 'Home:AboutusView' %}">About Us</a></li>
                    <li><a href="{% url 'Home:ContactView' %}">Contacts</a></li>
                    <li><a href="{% url 'Home:faqView' %}">Help / FAQ</a></li>
                    <li><a class="text-danger" href="docs/dev-setup.html">Documentation</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Toolbar-->
    <div class="toolbar">
        <div class="inner">
            <div class="tools">
                <div class="search"><i class="icon-search"></i></div>
                {% if user.id is not None %}
                <div class="account"><a href="{% url 'App_User:ProfileView' username=user.username %}"></a><i class="icon-head"></i>
                    <ul class="toolbar-dropdown">
                        <li class="sub-menu-user">
                            <div class="user-ava"><a href="{% url 'App_User:ProfileView' username=user.username %}"><img src="{{ request.session.userimage }}" alt="{{ user.username }}"></a>
                            </div>
                            <div class="user-info">
                                <a href="{% url 'App_User:ProfileView' username=user.username %}"><h6 class="user-name">{{ user.first_name }} {{ user.last_name }}</h6></a>
                            </div>
                        </li>
                        <li><a href="{% url 'App_User:ProfileView' username=user.username %}">My Profile</a></li>
                        <li><a href="{% url 'App_User:OrderHistoryView' %}">Orders List</a></li>
                        <li><a href="account-wishlist.html">Wishlist</a></li>
                        <li class="sub-menu-separator"></li>
                        <li><a href="{% url 'App_User:LogoutView' %}"> <i class="icon-unlock"></i>Logout</a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="cart"><a href="{% url 'Order:CartListView' %}"></a><i class="fab fa-opencart"></i><span
                        class="count">{% CartProductCount user.id %}</span><span class="subtotal">My Cart</span>
                </div>
            </div>
        </div>
    </div>
</header>