{% load static %}
{% load custom_tags %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title_block %}
    Order - {{ status }}
    {% endblock title_block %}
  </title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="{% block description_block %}Description{% endblock description_block %}">
  <meta name="keywords" content="{% block keywords_block %}Keywords{% endblock keywords_block %}">
  <meta http-equiv="refresh" content="10; url={% url 'Home:IndexView' %}">
  <!-- Mobile Specific Meta Tag-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Favicon and Apple Icons-->
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon.png' %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'favicon.png' %}">
  <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="{% static 'css/vendor.min.css' %}">
  <!-- Main Template Styles-->
  <link id="mainStyles" rel="stylesheet" media="screen" href="{% static 'css/styles.min.css' %}">
  <!-- Customizer Styles-->
  <link rel="stylesheet" media="screen" href="{% static '' %}customizer/customizer.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Google Tag Manager-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T4DJFPZ');

  </script>
  <!-- Modernizr-->
  <script src="{% static '' %}js/modernizr.min.js"></script>
</head>

<!-- Body-->

<body>
  <!-- Google Tag Manager (noscript)-->
  <noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-T4DJFPZ" height="0" width="0"
      style="display: none; visibility: hidden;"></iframe>
  </noscript>

  {% block css_block %}

  {% endblock css_block %}

  {% block category_block %}

  {% endblock category_block %}


  {% block topbar_block %}

  {% endblock topbar_block %}


  {% block header_block %}

  {% endblock header_block %}

  {% block content %}
  <!-- Off-Canvas Wrapper-->
  <div class="offcanvas-wrapper">
    <!-- Page Content-->
    <div class="container padding-top-3x padding-bottom-3x mb-1"><img
        class="d-block m-auto rounded" src="{% static '' %}img/FastDelivery.jpg" style="width: 100%; max-width: 550px;"
        alt="Order Successful">
      <div class="padding-top-1x mt-2 text-center">
        <p>
        <h3>User: {{ user.first_name }} {{ user.last_name }}</h3>
        <h5>Order Id: {{ orderId }}</h5>
        {% if tran_id and val_id %}
          <p>Order Id: {{ val_id }}</p>
          <p>Transaction id: {{ tran_id }}</p>
        {% endif %}
        <!-- <div>
        {{payment_data}}
      </div> -->
        </p>
      </div>
    </div>
    {% block footer_block %}
    {% include "home/footer.html" %}
    {% endblock footer_block %}
  </div>
  {% endblock content %}





  <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="fa fa-arrow-up"></i></a>
  <!-- Backdrop-->
  <div class="site-backdrop"></div>
  <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
  <script src="{% static '' %}js/vendor.min.js"></script>
  <script src="{% static '' %}js/scripts.min.js"></script>
  <!-- jQuery UI !-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- Customizer scripts-->
  <script src="{% static '' %}customizer/customizer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>


</body>
</html>