{% extends "base.html" %}
{% load static %}

{% block title_block %}
{{ user.first_name }} Change Password
{% endblock title_block %}
{% block description_block %}
{{ setting.description }}
{% endblock description_block %}
{% block keywords_block %}
{{ setting.keywords }}
{% endblock keywords_block %}


{% block category_block %}
{% include 'home/category_menu.html' %}
{% endblock category_block %}
{% block header_block %}
{% include "home/header.html" %}
{% endblock header_block %}
{% block content %}
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
  <!-- Page Title-->
  <div class="page-title">
    <div class="container">
      <div class="column">
        <h1>My Profile</h1>
      </div>
      <div class="column">
        <ul class="breadcrumbs">
          <li><a href="{% url 'Home:IndexView' %}">Home</a>
          </li>
          <li class="separator">&nbsp;</li>
          <li><a href="{% url 'App_User:ProfileView' username=user.username %}">Account</a>
          </li>
          <li class="separator">&nbsp;</li>
          <li>{{ user.username }}'s Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container padding-bottom-3x mb-2">
    <div class="row login-box">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h4>Personal Info & Address</h4>
      </div>
      <hr class="padding-bottom-1x">
      <form class="row" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-md-12">
          <label><strong>{{ field.label_tag }}</strong></label>
          <div>{{ field }}</div>
          {% if field.help_text %}
          <small>{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p> {{ error }}</p>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="col-md-3">
          <button class="btn btn-primary margin-right-none">Update Password</button>
        </div>
        <div class="col-md-9">
        </div>
      </form>
      <hr class="padding-bottom-1x mt-3">
    </div>
  </div>
  {% block footer_block %}
  {% include "home/footer.html" %}
  {% endblock footer_block %}
</div>
{% endblock content %}